extends ../layouts/common.pug

block style
    link(rel='stylesheet', href='/assets/css/login.css')
block title
    title Account || BookStore

block nav
block sidebar
block content
    .container
        .row.justify-content-center.my-5
            .col-md-4.col-md-offset-4
                .card.rounded
                    .card-body
                        .text-center
                            h3
                            i.fa.fa-lock.fa-4x
                            h2.text-center Forgot Password?
                            p You can reset your password here.
                            .card-body
                                form#register-form.form(role='form', autocomplete='off', method='post')
                                    .form-group
                                        .input-group
                                            span.input-group-addon
                                            i.glyphicon.glyphicon-envelope.color-blue
                                            input#email.form-control(name='email', placeholder='email address', type='email')
                                    .form-group
                                        button.btn.btn-lg.btn-primary.btn-block(type='submit') Reset Password
                            a.mt-2(href="/") Go Home
block pagination
block footer
block script
    script.
        let msgStr = !{JSON.stringify(mess)};
        if(msgStr && msgStr.length !== 0){
            alert(msgStr);
        }