extends ../layouts/common.pug

block style
  link(rel='stylesheet', href='/assets/css/account.css')
block title
  title Account || BookStore

block nav
block sidebar
block content
  .container-fluid
    .row.form__row
      .col-lg-4.form__col
        .form__title
          .form__title--text.d-flex.text-primary.justify-content-around
            span(onclick='onLogin()') Sign in
            span(onclick='onRegister()') Sign up
          p#indicator
        .form__container
          #form__login
            if error
              p.m-0.pt-4.text-danger= error
            form(method='POST')
              .form-group
                input#email.form-control.pl-1(type='email', name='email', placeholder='email', value= email? email : 'nhatlinh123@gmail.com')
              .form-group
                input#password.form-control.pl-1(type='password', name='password', value= password? password :'nhatlinh123')
              button.btn.btn-success.w-100(type='submit') Sign in
              a.d-block.text-primary.mt-3(href='#') Forgot Password
          #form__register
            form(method='POST', action="/login/register")
              .form-row
                .form-group.col
                  input.name-register.form-control.pl-1(type='text', name='nameRegister', placeholder='Fullname', value='')
                .form-group.col
                  input.name-register.form-control.pl-1(type='number', name='ssnRegister', placeholder='SSN', value='')
              .form-group
                input#emailRegister.form-control.pl-1(type='email', name='emailRegister', placeholder='email', value='')
              .form-group
                input#passwordRegiste.form-control.pl-1(type='password', name='passwordRegister', placeholder='password', value='')
              button.btn.btn-success.w-100(type='submit') Register
    .row.mt-3
      .d-flex.flex-column.m-auto
        p.text-danger
          |admin: admin@admin.com
        p.text-danger
          |pass: admin123
  block pagination
  block footer
  script.
    let indicator = document.querySelector('#indicator');
    let formLogin = document.querySelector('#form__login');
    let formRegister = document.querySelector('#form__register');
    const onLogin = () => {
    indicator.style.left = '0%'
    formLogin.style.display = 'block';
    formRegister.style.display = 'none';
    formLogin.style.transform = 'translateX(0%)';
    formRegister.style.transform = 'translateX(100%)';
    }
    const onRegister = () => {
    indicator.style.left = '50%'
    formLogin.style.display = 'none';
    formRegister.style.display = 'block';
    formLogin.style.transform = 'translateX(-100%)';
    formRegister.style.transform = 'translateX(0%)';
    }
