head(lang="en")
  meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  link(rel="icon" href="/sources/img/1logo.ico" type="image/ico" sizes="16x16")
  link(rel='stylesheet', href='/sources/css/bootstrap.min.css')
  link(rel='stylesheet', href='/sources/css/bootstrap-grid.min.css')
  link(rel='stylesheet', href='/sources/css/fontawesome.all.min.css')
  link(rel='stylesheet', href='/assets/css/login.css')
  title Login || Register
body
  .container-fluid.h-100.d-flex.flex-column.justify-content-center.align-items-center
    .row.form__row.w-100
      .col-8.col-md-6.col-xl-4.form__col
        .form__title
          .form__title--text.d-flex.text-primary.justify-content-around
            span#login(onclick='onLogin()') Sign in
            span#register(onclick='onRegister()') Sign up
          p#indicator
        .form__container
          #form__login
            form(method='POST' name="formLogin")
              .form-group
                input#email.form-control.pl-1(type='email', name='email', placeholder='email', value= email ? email : 'admin@admin.com')
              .form-group
                input#password.form-control.pl-1(type='password', name='password', value= password ? password :'admin123')
                i.fas.fa-eye#tooglePassword
              button#loginSubmit.btn.btn-success.w-100(type='button') Sign in
              a.d-block.text-primary.mt-3(href='/login/forgotPassword') Forgot Password
          #form__register
            form(method='POST', action="/login/register" name="formRegister")
              .form-group
                input#nameRegister.nameRegister.form-control.pl-1(type='text', name='nameRegister', placeholder='full name', value='')
              .form-group
                input#emailRegister.form-control.pl-1(type='email', name='emailRegister', placeholder='email', value='')
              .form-group
                input#passwordRegister.form-control.pl-1(type='password', name='passwordRegister', placeholder='password', value='')
              .form-group
                input#passwordRegisterRetype.form-control.pl-1(type='password', name='passwordRegisteRetype', placeholder='RetypePassword', value='')
              button#registerSubmit.btn.btn-success.w-100(type='button') Register
    .row.mt-3
      .d-flex.flex-column.m-auto
        p.text-danger
          |user: nhatlinh123@gmail.com
        p.text-danger
          |pass: nhatlinh123

  script(src='/sources/js/jquery-3.4.1.min.js')
  script(src='/assets/js/login.js')
  script.
    $( document ).ready(function() {
      let msgStr = !{JSON.stringify(mess)};
      let onRegister = #{JSON.stringify(reRegister)};
      if(msgStr && msgStr.length !== 0){
        alert(msgStr);
      }
      if(onRegister && onRegister.length !== 0){
        $('#register').trigger('click');
      }

      //- if(typeof(mess) != 'undefined' && mess != '' && msgStr !== []){
      //-   alert(msgStr);
      //- }
    });