extends ../layouts/common.pug

block style
    link(rel='stylesheet', href='/assets/css/login.css')
block title
    title Reset Password

block nav
block sidebar
block content
    .container
        .row.justify-content-center.my-5
            .col-md-6.col-md-offset-4
                .card.rounded
                    .text-center
                        i.fa.fa-lock.fa-4x
                        h2.text-center Reset Password
                        p You can create new password and submit.
                        .card-body
                            form#register-form.form(action="/auth/changepassword" autocomplete='off', method='post')
                                input.d-none.form-control(name='token', type='text' value=token)
                                .form-group.row
                                    label(for="newPassword")   
                                    input#newPassword.form-control(name='newPassword', placeholder='new password', type='password')
                                .form-group.row
                                    label(for="retypePassword")   
                                    input#retypePassword.form-control(name='retypePassword', placeholder='retype password', type='password')
                                button.btn.btn-lg.btn-primary.btn-block(type='submit') Submit
block pagination
block footer
block script
    script.
        let msgStr = !{JSON.stringify(mess)};
        if(msgStr && msgStr.length !== 0){
            alert(msgStr);
        }