extends ./layouts/common.pug

block variable
  - var title = 'Dashboard'
block style
  link(rel='stylesheet', href='/assets/css/admin/dashboard.css')
  link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css')
block content
  .container-fluid
    .row.mt-4
      .col-12.col-sm-6.col-md-6.col-lg-3
        .counter.bg-primary
          p
            i.fas.fa-tasks
          h3 10000+
          p Books
      .col-12.col-sm-6.col-md-6.col-lg-3
        .counter.bg-warning
          p
            i.fas.fa-spinner
          h3 1000+
          p Users
      .col-12.col-sm-6.col-md-6.col-lg-3
        .counter.bg-success
          p
            i.fas.fa-check-circle
          h3 100+
          p Access/Day
      .col-12.col-sm-6.col-md-6.col-lg-3
        .counter.bg-danger
          p
            i.fas.fa-bug
          h3 50+
          p Transactions/Day
    .row.mt-4
      .col-12
        .card
          .card-header
            h3
              | New User
            i.fas.fa-ellipsis-h
          .card-content
            table
              thead
                tr
                  th #
                  th Name
                  th Email
                  th Address
                  th Date join
              tbody
                tr
                  td 1
                  td Nguyen Cong Hoan
                  td conghoan123@gmail.com
                  td 123/abc, xyz city
                    span.dot
                      i.bg-success
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Completed
                  td 17/10/2020
      .col-12
        .card
          .card-header
            h3
              | Progress bar
            i.fas.fa-ellipsis-h
          .card-content
            .progress-wrapper
              p
                | Less than 1 hour
                span.float-right 50%
              .progress
                .bg-success(style='width: 50%')
            .progress-wrapper
              p
                | 1 - 3 hours
                span.float-right 60%
              .progress
                .bg-primary(style='width:60%')
            .progress-wrapper
              p
                | More than 3 hours
                span.float-right 40%
              .progress
                .bg-warning(style='width:40%')
            .progress-wrapper
              p
                | More than 6 hours
                span.float-right 20%
              .progress
                .bg-danger(style='width:20%')
    .row
      .col-12
        .card
          .card-header
            h3
              | Chartjs
          .card-content
            canvas#myChart
block pagination
block footer
block script
  script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js')
  script(src='/assets/js/admin/dashboard.js')
