extends ../layouts/common.pug

block title
  title Create || BookStore

block content
  .container
    .row.mt-5
      .col-12.col-sm-12.col-md-6.col-lg-6.col-xl-4
        h3 Add new book
        form(action="/books/create/add" method="POST")
          input(type="text" name="title", placeholder="Title Book...")
          br
          textarea(name="description", placeholder="Description Book...", cols="50", rows="5")
          br
          br
          button(type="submit") Add
block pagination