extends ../layouts/common.pug

block title
  title Edit || BookStore

block content
  .container
    .row.mt-5
      .col-12.col-sm-12.col-md-6.col-lg-6.col-xl-4
        h3 Edit title
        span old title: 
        b= book.title
        br
        form(action="/books/edit/title/" + book.id, method="POST", enctype='multipart/form-data')
          input(type="text" name="title", placeholder="edit here...")
          br
          br
          input(type="file" name="avatar")
          br
          br
          br
          button(type="submit") Submit
block pagination