html
  head
    link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk", crossorigin="anonymous")
    link(rel="shortcut icon" href="https://cdn.glitch.com/e793e85a-7198-413c-a09d-9b69a87cca21%2Ffavicon.ico?v=1589511665802" type="image/x-icon")
    link(rel="icon" href="https://cdn.glitch.com/e793e85a-7198-413c-a09d-9b69a87cca21%2Ffavicon.ico?v=1589511665802" type="image/x-icon")
    link(rel="stylesheet", href='/css/style.css')
    title Management Ebook
  body
    nav.nav
      a.nav-link.active(href='/') BOOKS
      a.nav-link(href='/users') USERS
      a.nav-link(href='/transactions/' + 1) TRANSACTIONS
      a.nav-link(href='/carts') CART
    block content
    
    block footer
      nav
        ul.pagination.justify-content-center
          li.page-item.disabled
            a.page-link(href='#')
              span &laquo;
          li.page-item
            a.page-link(href='#') 1
          li.page-item
            a.page-link(href='#') 2
          li.page-item
            a.page-link(href='#') 3
          li.page-item
            a.page-link(href='#')
              span &raquo;
