//- - var isUserLogin = isUserLogins
block variable

head(lang="en")
  meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  link(rel="icon" href="/sources/img/1logo.ico" type="image/ico" sizes="16x16")
  link(rel='stylesheet', href='/sources/css/fontawesome.all.min.css')
  link(rel='stylesheet', href='/sources/css/bootstrap.min.css')
  link(rel='stylesheet', href='/sources/css/bootstrap-grid.min.css')
  block style
  block title
    title= title
body
  block content
  block script
    