form(method="GET", action="/todos/search")
  input(name="q", type="text")
  button(type="submit") Search
  
form(method="POST", action="/todos/create")
  input(name="todo", type="text")
  button(type="submit") Create

ul
  each elm in todos
    li= elm