img {
    max-width: 100%;
}
/* .wrapper {
    min-height: calc(100vh - 0);
} */

.msg__support {
    min-height: inherit;
}

.inbox__msg {
    height: calc(100% - var(--height-header-lg));
    overflow: hidden;
}

.users {
    width: 40%;
    height: 100%;
    background: var(--main-bg-color) none repeat scroll 0 0;
    overflow: hidden;
    border-right: 1px solid var(--light-second-color);
}

.users__heading {
    padding: 10px 29px 10px 20px;
    overflow: hidden;
    border-bottom: 1px solid var(--light-second-color);
}

.users__body {
    height: calc(100% - 54px);
    overflow-y: auto;
}

.msg__list {
    border-bottom: 1px solid var(--light-second-color);
    padding: 18px 16px 10px;
    cursor: pointer;
}

.msg__user {
    overflow: hidden;
}

.msg__user--img img {
    width: 20px;
    height: 30px;
}

.msg__active {
    background: #ebebeb;
}

.msg__user--ib {
    padding: 0 0 0 15px;
    width: 88%;
}

.msg__user--ib h5 span {
    font-size: 15px;
    color: #464646;
    margin: 0 0 8px 0;
}

.msg__user--ib h5 small {
    font-size: 13px;
}

.msg__user--ib p {
    position: relative;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    font-size: 14px;
    color: #989898;
    overflow: hidden;
}

.message {
    height: 100%;
    padding: 10px;
    width: 60%;
}

.msg__history {
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
}

.msg__incoming--img {
    display: inline-block;
}
.msg__incoming--img img {
    border-radius: 50%;
    width: 23px;
    height: 25px;
}

.msg__incoming--received {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 57%;
}

.msg__outgoing--send p,
.msg__incoming--received p {
    border-radius: 3px;
    color: #2d2d2d;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}
.msg__incoming--received p {
    background: #ebebeb none repeat scroll 0 0;
}

.msg__outgoing--send p {
    background: #7bbb89 none repeat scroll 0 0;
}

.msg__incoming,
.msg__outgoing {
    margin: 10px 0 10px;
}

.msg__outgoing--send {
    max-width: 60%;
    margin-left: auto;
}

.msg__type {
    border-top: 1px solid var(--light-second-color);
    position: relative;
}

.type__wrap input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 48px;
    outline: none;
}

.type--send {
    background: #337b45 none repeat scroll 0 0;
    color: #fff;
    border: medium none;
    border-radius: 50%;
    font-size: 17px;
    position: absolute;
    right: 0;
    top: 11px;
    width: 33px;
    height: 33px;
    outline: none;
}

.msg__history--date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}

.typing {
    height: 6%;
    padding: 0 0.5em 0.2em 0.5em;
}

.dot {
    position: absolute;
    bottom: 8px;
    right: -3px;
}

.dot i {
    width: 0.55rem;
    height: 0.55rem;
}

@media only screen and (max-width: 768px) {
    .inbox__msg {
        height: calc(100% - var(--height-header-md));
    }
    /* .msg__history {
        height: calc(100% - var(--height-header-md));
    } */
}

/* Extra small devices <= 600px */

@media only screen and (max-width: 576px) {
    .inbox__msg {
        height: calc(100% - var(--height-header-sm));
    }
    /* .msg__history {
        height: calc(100% - var(--height-header-sm));
    } */
}
