extends ../layouts/common.pug

block variable
	- var title = 'Messages Support'

block style
	link(rel='stylesheet', href='/assets/css/admin/liveChat.css')

block content 
	.container-fluid.m-auto.msg__support
		.row.inbox__msg
			.col-4.col-sm-4.col-md-4.col-lg-3.px-0.users
				h5.users__heading Messenger
				.users__body

			.col-4.col-sm-4.col-md-4.col-lg-9.d-flex.flex-column.justify-content-end.message
				.msg__history.d-flex.flex-column
					.msg__push--old
					.msg__push--new
					
	audio#chatSound
		source(src='/assets/sounds/new_message.mp3', type='audio/mpeg')
	audio#pokeSound
		source(src='/assets/sounds/poke.mp3', type='audio/mpeg')

block pagination
block footer
block script