extends ../layouts/common.pug

block content
  .container
    if shop
      a(href="/books/create") NEW BOOK
      ul
        each elm in books
          li
            span= elm.title
            span &nbsp
            a(href="/books/view/" + elm._id) view
            span &nbsp
            a(href="/books/edit/" + elm._id) edit
            span &nbsp
            a(href="/books/remove/" + elm._id) remove
    else
      a(href="/shops/createshop") Create Shop
block footer
block pagination