main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: radial-gradient(#ccc, #ffffcf);
}

form{
  margin: 30px 10px;
}

.form__row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__col {
  border: 1px solid #ccc;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.form__title {
  position: relative;
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0px;
}

.form__title span{
  cursor: pointer;
}

.form__title p {
  position: absolute;
  left: 0%;
  width: 50%;
  height: 2px;
  padding: 0 20px;
  margin: 10px 0px 5px;
  background-color: #ef5b23;
  transition: all 0.5s;
}

.form__container {
  position: relative;
  overflow: hidden;
}

#form__login #form__register{
  display: block;
  margin: 50px 0;
  transition: transform 25s !important;
}
/* 
#form__login a{
  display: block;
  margin-top: 5px;
} */

#form__register{
  display: none;
  transform: translateX(100%)
}

/* 
.form-group{
  margin: 30px 10px;
} */