.row__render--book {
  margin-top: 20px;
  font-size: 0.9rem;
}

.card-title {
  min-height: 24px;
}

.card__text--wrap {
  /* max-height: 100px; */
  /* line-height: n; */
  min-height: 72px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.img__contain {
  text-align: center;
  max-width: 240px;
  max-height: 250px;
  overflow: hidden;
}

.card-img-top {
  width: 180px;
  height: 220px;
  /* object-fit: contain; */
}

.card {
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}
