extends ../layouts/common.pug

block variable
  - var title = 'Cart'
block style
  link(rel="stylesheet", href="/assets/css/cart.css")
block content
  .container.mt-3
    if cart !== []
      .row.justify-content-center
        img.cart__empty(src="/sources/img/cart-empty.png", alt="")
    else
      ul
        each val in cart
          li
            img(src=val.avatarUrl)
            span &nbsp
            span= val.title + ': ' + val.quantity
              span &nbsp
              a(href="/carts/transaction/" + val.id) transaction
block footer
block pagination