extends ../layouts/common.pug

block variable
  - var title = 'Cart'
block style
  link(rel="stylesheet", href="/assets/css/cart.css")
block content
  .container.mt-3
    if cart == false
      .row.justify-content-center
        img.cart__empty(src="/sources/img/cart-empty.png", alt="")
    else
      table.table.table-hover
        thead
          tr
            th(scope='col') 
            th(scope='col') Title Book
            th(scope='col') Timeout
            th(scope='col') 
        tbody
          each elm in cart
            tr
              td(scope='row')
                img.cart__image(src=elm.avatarUrl)
              td= elm.title
              td= elm.timeout
              td 
              td
                a.btn.btn-danger.font-weight-bold(href="/carts/delete/" + elm.id, type="submit") Remove
          //- tr
          //-   td.text-right(colspan='4')
          //-     a.btn.btn-primary.font-weight-bold(href="/transactions/create") Checkout

block pagination