extend ../layouts/statusLayout.pug
block variable
  - var title = 'Error'
block content
  .jumbotron
    h1.display-4 500 ERROR
    p.lead Site didn't responsive
    hr.my-4
    p
      | Something in the code caused it to close the connection before providing a response.
    p.lead
      a.btn.btn-primary.btn-lg(href='#', role='button') Learn more