extend ../layouts/statusLayout.pug
block variable
  - var title = 'Success'
block content
  .container.h-100.d-flex.justify-content-center.align-items-center
    .row
      .col-md-12.m-auto
        .error-template.text-center.m-2
          h1
            | Oops!
          h2
            | 404 Not Found
          .error-details.m-3
            | Sorry, an error has occured, Requested page not found!
          .error-actions
            a.btn.btn-primary.btn-lg(href='/')
              span.glyphicon.glyphicon-home
              |Take Me Home