extends ../layouts/common.pug

block content
  .container.mr-5.mt-3
    h3 Edit Profile
    span Name: 
    b= user.name
    br
    form(action="" + user.id, method="POST", enctype='multipart/form-data')
      .form-group
          label(for="name") Name
          input.form-control.pl-1#name(type="text", name="name", placeholder="edit here...")
      .form-group
          label(for="email") Email
          input.form-control.pl-1#email(type="email", name="email", placeholder="edit here...")
      .form-group
          label(for="avatar") Avatar
          input.form-control-file.pl-1#avatar(type="file", name="avatar")
      button.btn.btn-primary(type="submit") Submit
    