extends ../layouts/common.pug

block variable
  - var title = 'Cart'

block content
  .container.mt-3
    h4 Transactions
    a(href="/transactions/create") NEW TRANSACTIONS
    table
      tr
        th UserID
        th BookID
        th Status
      each val in item
        tr
          td= val.userID
          td= val.bookID
          if val.isComplete === true
            td Ok
          else
            td
              a(href="/transactions/isComplete/" + page + "/" + val.id) Unpaid
block pagination
//- block variable
//- block style
//- block title
//- block content
//- block pagination
//- block footer
//- block script