extends ../layouts/common.pug

block variable
  - var title = 'Transactions'
block style
  link(rel="stylesheet", href="/assets/css/transactions.css")

block content
  .container.mt-3
      if books == false
        .row.justify-content-center
          img.cart__empty(src="/sources/img/transactions-empty.png", alt="")
      else
        form
          .form-row.align-items-center
            .col-auto.my-1
              label.mr-sm-2(for="sort") Sort by:
              select.custom-select.mr-sm-2#sort
                option(value="DateUp", selected) Date Up
                option(value="DateDown") Date Down
                option(value="Unpaid") Unpaid
                option(value="Complete") Complete
        table.table.table-hover
          thead
            tr
              th(scope='col') 
              th(scope='col') Title Book
              th(scope='col') Date
              th(scope='col') Status
          tbody
            each elm in books
              tr
                td(scope='row')
                  img.cart__image(src=elm.avatarUrl)
                td= elm.title
                td= elm.time
                td
                  if elm.isComplete == "true"
                    a.btn.btn-success.font-weight-bold.disabled Complete
                  else
                    a.btn.btn-danger.font-weight-bold(href="/transactions/isComplete/" + elm._id + "/" + page) Unpaid
//- block pagination
//- block variable
//- block style
//- block title
//- block content
//- block footer
//- block script